pkgbase = twilight-echo
	pkgdesc = Local and streaming music player with synchronized/word-level lyrics and DSP
	pkgver = 1.0.2
	pkgrel = 1
	url = https://github.com/asenyarzc-cpu/Twilight_Echo
	arch = x86_64
	license = Apache-2.0
	depends = alsa-lib
	depends = bzip2
	depends = ffmpeg
	depends = gcc-libs
	depends = glibc
	depends = gmp
	depends = gnutls
	depends = gtk3
	depends = lcms2
	depends = at-spi2-core
	depends = libbluray
	depends = libdvdnav
	depends = libdvdread
	depends = libebur128
	depends = libmodplug
	depends = libnotify
	depends = libopenmpt
	depends = libsecret
	depends = libssh
	depends = libvpx
	depends = libwebp
	depends = libxml2
	depends = libxss
	depends = libxtst
	depends = nss
	depends = srt
	depends = util-linux
	depends = xz
	depends = zeromq
	depends = zlib
	provides = twilight-echo
	conflicts = twilight-echo
	source = https://github.com/asenyarzc-cpu/Twilight_Echo/releases/download/v1.0.2/TwilightEcho-1.0.2.tar.gz
	sha256sums = f7d46569d5aa4c7096e6a8246274142e4172ac1ecb13ef276df4b64e686f6c50

pkgname = twilight-echo
